/* GENERAL */
html {
	font-family: "Raleway", sans-serif;
	margin: 0%;
	padding:0%;
}
body {
	width:100%;
	box-sizing: border-box;
	border:2px solid red
}
/*HEADER*/ 
header{
	flex-direction: row;
	justify-content: space-between;
	display: flex;
	max-width: 1440px
	border:2px solid blue
}
.logo {
	width: 100px;
	height: auto;
	margin: 40px;
	display: flex;
	padding-bottom: 10px;
	border:3px solid violet
}
.navigation {
	display: inline-flex;
	margin-right: 250px;
	border:3px solid black;
}
.barre_navigation{
	display: inline-flex;
	padding-top: 5%;
	border:3px solid red
}
.nav {
	list-style: none;
	padding: 0;
	word-spacing: 15px;
}
.nav a:hover{
	border-top :2px solid #0065FC ;
    color:#0065FC ;
	font-weight: bold;
}
.navig1 {
	width: 110px;
	height: 35px;
    margin: 30px 40px 0px 0px;
	padding: 44px 0px 0px 0px;
	text-decoration: none;
	border-width: 2px;
	color:black
}
.navig2 {
	width: 69px;
	height: 80px;
	margin-right: 50px;
	text-decoration: none;
	padding-top: 44px;
	color:black;
}
.navig3 {
	text-decoration: none;
	margin: 10px;
	padding-top: 44px;
	color:#0065FC;
	font-weight: bold;
}
/* SECTION 2*/
.titre-recherche {
	font-size: 100%;
	font-weight: bolder;
	margin: -15px 0px 0px 40px;
}
.complement {
	font-size: 80%;
	margin-left: 40px;
}
.barrerecherche {
	display:flex;
	width: 100%;
	height: 40px;
	margin-left: 40px;
	margin-bottom:20px ;
}
.barre_search{
	border:3px solid #f2f2f2;
	height: 50px;
    width: 200px;
	color: black;
	font-weight: bold;
	text-align:start ;
	font-size: 15px;
	padding-left: 9px;
}
.barre_search::placeholder{
	color: black;
}
.iconSize{
	line-height: 2px;
}
.menu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-right:-50px;
	padding-bottom: 25px;
}

.logo_i{
    font-size: 10px;
	border:1px solid #F2F2F2;
	display :inline-block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	color: #0065fc;
	padding:10px;
	margin-left: 40px;
	text-align: center;	
}

.filtre {
	margin: 15px 0px 1px 40px;
	font-weight: bold;
	display: flex;
	background-color: white;
	border: 1px solid white;
	border-radius:15px ;
	font-size: 15px;
	padding:10px;
}
.icone{
	display: flex;
	border:2px solid black;
	width: auto;	
}
.icone i{
	background-color: #deebff;
	border: 1px solid #deebff;
	border-radius: 100%;
	color: #0065fc;
	margin:12px -12px 15px 20px;
	padding:10px 10px 13px 10px;
	height: 15px;
	width: auto;
	font-size:15px;
	z-index: 2;
	text-align: center;
	border:3px solid red;
}
.icone p {
	border: 3px solid #F2F2F2;
	border-left: 0px ;
	border-radius:0 25px 25px 0;
	background-color: white;
	color:black;
	font-weight: bold;
	margin:15px 15px 20px 0px;
	padding: 15px 20px 0px 10px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	border:3px solid violet;
}
.icone_map{
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	height:45px;
    width: 40px;
	text-align: center;
	line-height:3;
	border:3px solid orange
}

.recherche {
	height: 50px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
	font-weight: bold;
}

/*SECTION 3*/
#hebergement_et_populaire {
	display:flex;
	justify-content: space-between;
	margin-bottom: 40px;
	width: 89%;
	margin-left: 40px;
	padding-right:-20px ;
	border:2px solid blue
}
.image_heberg_pop_activite{
	text-decoration: none;
	color: initial;
}
.main {
	display: flex;
	flex-direction: column;
	border-radius: 20px 20px 20px 20px;
	background-color:#f2f2f2;
	width: 60%;
	padding:10px 0 10px 5px;
	height: 490px;
	border:2px solid green
}
.hebergement {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:auto; 
	width: 800px;
	height: 400px;
	border:2px solid yellow
}
.infos {
	border: 1px solid white;
	width: 223px;
	height: 169px;
    background-color: white;
    border-radius: 15px;
    margin-right: 20px;
	margin-left:10px ;
	padding:4px 5px 0 4px;
	text-decoration: none;
	border:2px solid black
}
.titre {
	font-size: 100%;
	font-weight: bolder;
    display: flex;
    justify-content: flex-start;
	margin-left: 30px;
	padding:0px 0px -50px 80px;
}
.figure{
	width: 100%;
	margin:0%;
}
.images {
	width: 100%;
	height: 90px;
	border: 1px solid white;
	object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.nom_hotel {
	font-size: 13px;
	font-weight: bold;
	display: flex;
	justify-content: flex-start;
	padding-left: 10px;
	margin-top:5px
}
.prix_hotel {
	display: flex;
	justify-content: flex-start;
	font-size: 12px;
	padding-left: 10px;
	margin:-5px 0 15px 0;
}
.note_etoile {
	color: blue;
	display: flex;
	justify-content: flex-start;
	padding-left:10px;
	justify-content: baseline;
}
.etoile_grise {
	color:#f2f2f2;
}
.note {
	display: flex;
	justify-content: flex-start;
	font-size: 13px;
	margin-top: -5px;
}
.affichage{
    display: flex;
    justify-content: flex-start;
	font-weight: bold;
	padding:0  0 20px 20px;	
}
/* POPULAIRE*/
.les_populaires {
	background-color:#f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 20px 20px 20px 20px;
	margin:0px 300px 0 40px;
    width: 40%;
	height: 510px;
	order:2;
	border:2px solid silver
}
.les_populaires_aside {
	width: auto;
	border:2px solid red
}
.populaire {
	height: 85px;
	width:130px;
	margin-left:-35px;
	margin-top:-10px;
	margin-bottom:30px;
	object-fit: cover;
	border-top-left-radius:10px;
	border-bottom-left-radius: 10px;
	display: flex;
	flex-direction: column;
	/*border:2px solid yellow*/
}
.les_populaires_aside_card {
	display: flex;
	border: 1px solid white;
	width: 300px;
	height: 100px;
    background-color: white;
    border-radius: 15px;
    margin:0px 15px 40px 15px;
	text-decoration: none;
	border:2px solid blue
}
.titre_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding:0px 30px 0px 25px;
	border:2px solid brown
}
.tarif {
	padding: 7px 0px 7px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
	width:40%;
	/*border:2px solid black*/
}
.nom_hotel_pop {
	font-size: 13px;
	margin:-20px 0px 0px -20px;
	padding-top: 15px;
}
.prix_hotel_pop {
	font-size: 12px;
	margin: -18px 0px 0px -20px;
}
.note_etoile_pop {
	color: blue;
	display: flex;
	justify-content: flex-start;
	margin-left: -20px;	
}
.note_populaire{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	font-size: 13px;
	margin-top: -5px;
}
/* SECTION 4*/
#Activites {
	width: 60%;
	display: flex;
	padding-left:40px;
	
}
.titre_activite {
	margin-bottom: 27px;
	font-size: large;
	margin-left:40px;
}
.figure_activite{
	margin: 0px;
	padding:0px
}
.photo1{
	margin-left: 20px;
	margin-right: 30px;
}
.photo2{
	margin-right: 30px;
}
.image_activite_vieuxport{
	width: 250px;
	display: flex;
	object-fit: cover;
	height: 335px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 0 5px 40px -20px black;
    -moz-box-shadow: 0 5px 40px -20px black;
    box-shadow: 0 5px 40px -20px black;
}
.images_4_identitques{
	font-size: 15px;
	width:250px;
	height: 125px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 0 5px 40px -20px black;
    -moz-box-shadow: 0 5px 40px -20px black;
    box-shadow: 0 5px 40px -20px black;
	margin-left: 20px;
	object-fit: cover;
}
.image_parc{
	width:250px;
	display: flex;
	object-fit: cover;
	height: 335px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 15px #f2f2f2;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 0 5px 40px -20px black;
    -moz-box-shadow: 0 5px 40px -20px black;
	margin-right:20px;
}
.nom_vieux_port{
	    color: black;
		font-size: 15px;
		font-weight:bold;
		width: 250px;
		height: 50px;
		margin-left: 4px;
		display: flex;
		flex-direction: column;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 1px 1px 15px #f2f2f2;
		border: 1px solid #f2f2f2;
		-webkit-box-shadow: 0 5px 40px -20px black;
        -moz-box-shadow: 0 5px 40px -20px black;
		
}
.noms_2_identitques{
	    color: black;
		font-size: 15px;
		font-weight:bold;
		box-shadow: 1px 1px 15px #f2f2f2;
		border: 1px solid #f2f2f2;
		width: 250px;
		height: 50px;
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		margin-bottom: 30px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		-webkit-box-shadow: 0 5px 40px -20px black;
        -moz-box-shadow: 0 5px 40px -20px black;
		margin-top:-4px;
		
}
.noms_2_derniers_identitques{
	    color: black;
		font-size: 15px;
		font-weight:bold;
		box-shadow: 1px 1px 15px #f2f2f2;
		border: 1px solid #f2f2f2;
		width: 250px;
		height: 50px;
		display: flex;
		flex-direction: column;
		margin-left:20px;
		margin-bottom: 30px;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		-webkit-box-shadow: 0 5px 40px -20px black;
        -moz-box-shadow: 0 5px 40px -20px black;
		border: 1px solid #f2f2f2;
		margin-top:-4px;
}
.nom_parc{
	    color: black;
		font-size: 15px;
		font-weight:bold;
		width: 248px;
		height: 50px;
		display: flex;
		flex-direction: column;	
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		box-shadow: 1px 1px 15px #f2f2f2;
		border: 1px solid #f2f2f2;
		-webkit-box-shadow: 0 5px 40px -20px black;
        -moz-box-shadow: 0 5px 40px -20px black;
}
.nom_hotel_activite{
	margin-left: 20px;
	margin-top:15px
}
/*FOOTER*/
footer {
	margin: 40px 0px 0px 0px;
	background-color: #f2f2f2;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 150px;
	width: 100%;
}
.propos {
	font-size: 15px;
	padding: 20px 50px 50px 50px;
}
.texte_footer {
	font-size: 13px;
}
.footer_hebergement {
	font-size: 15px;
	padding: 20px 200px 200px 200px;
}
.assistance {
	margin-right: 200px;
	font-size: 15px;
	padding:20px 60px 60px 60px;
}/*
@media screen and (max-width:1300px){
	body{

		width: 100%;
	}
	
	header{
		flex-direction: column;
		display: flex;
	
	}
}*/